@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --themeColor:hsl(305, 80%, 50%);
    --themeColor60:hsl(305, 60%, 45%);
    --themeColor40:hsl(305, 40%, 40%);
    --themeColor20:hsl(305, 20%, 35%);

    --textColor:hsl(240, 80%, 90%);
    --textColor55:hsl(240, 55%, 80%);
    --textColor30:hsl(240, 30%, 70%);
    --textColor5:hsl(240, 5%, 60%);

    
}
html {
    padding-top: 92px;
}
* {
    margin: 0;
    padding: 0;
    -webkit-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
}
body {
    font-family: 'Noto Sans', 'Noto Sans HK', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: hsl(240, 80%, 90%);
}

*, *:after, *:before {
    -webkit-transition-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
         -o-transition-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
            transition-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
    -webkit-animation-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
            animation-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
}
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-thumb {
    border: 1px solid #181c25;
    background: #232936;
    -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}
::-webkit-scrollbar-track {
    background: #181c25;
    -webkit-box-shadow: inset 0 0 5px #12171c;
    box-shadow: inset 0 0 5px #12171c;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-weight: normal;
}
ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    display: block;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 954px;
    height: 78px;
    -webkit-transition: top 0.25s;
    -o-transition: top 0.25s;
    transition: top 0.25s;
    background: -o-linear-gradient(top, rgba(18,23,28,0.75), transparent);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(18,23,28,0.75)), to(transparent));
    background: linear-gradient(to bottom, rgba(18,23,28,0.75), transparent);
}
html:not([data-scroll="0"]) header:before, html.navOpen header:before {
    opacity: 1;
}

header:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    background: #12171c;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.cf {
    -ms-zoom: 1;
    zoom: 1;
}
.ir {
    display: inline-block;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
}
.mleftauto {
    margin-left:auto;
}
/* General Navigation*/
a {
    cursor: pointer;
    text-decoration: none;
}
a i.icon {
    font-size: 1.7rem;
    margin-top: 26px;
}
.navLogo {
    float: left;
}
.navLogo h1 {
    width: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: 0;
}
.navLogo .logo {
    display: block;
    margin-right: 2rem;
    width: 9rem;
    height: 78px;
    padding: 0;
    z-index: 2;
    vertical-align: middle;
    background-size: contain;
    background: url(/img/mainLogo.svg) no-repeat center 45%/100%;
}
#navItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 0;
}
.navBucket[data-show-collapsed-at] {
    display: none !important;
}
.navBucket[data-show-collapsed-at="max"] {
    display: inline-block !important;
}
.navBucket {
    position: relative;
    display: inline-block;
    -webkit-transition: color 0.25s, background 0.25s;
    -o-transition: color 0.25s, background 0.25s;
    transition: color 0.25s, background 0.25s;
    vertical-align: top;
    height: 100%;
    text-transform: uppercase;
    color: rgba(245,245,245,0.5);
    font-size: 13px;
    font-weight: 500;
    line-height: 78px;
}
.navBucket:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    content: "";
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    background: rgba(245,245,245,0);
}
.navBucket:hover:after, .navBucket.on:after, .navBucket.open:after {
    left: 0;
    width: 100%;
    background: var(--themeColor);
}
.navBucket .navBucketItems hr {
    margin: 0;
    height: 1px;
    border: none;
    background: rgba(24,28,37,0.15);
}
.navBucket>a {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 1vw;
    text-align: center;
    vertical-align: top;
    color: rgba(245,245,245,0.75);
}
.navBucket:hover a, .navBucket.open a, .navBucket.on a {
    text-decoration: none;
    color: #f5f5f5;
}
.navBucket .navBucketItems a:hover, .navBucket .navBucketItems a.on {
    background: var(--themeColor60);
    color: #f5f5f5;
}
.navBucket .expand {
    display: none;
    border-left: 1px solid #000;
}
.navBucket.open .navBucketItems, .navBucket:hover .navBucketItems {
    height: auto;
    -webkit-transform: translateY(0) translateX(-50%);
    -ms-transform: translateY(0) translateX(-50%);
    transform: translateY(0) translateX(-50%);
    opacity: 1;
}
.navBucket .navBucketItems {
    position: absolute;
    z-index: 5;
    overflow: hidden;
    top: 78px;
    left: 50%;
    -webkit-transform: translateY(-10px) translateX(-50%);
    -ms-transform: translateY(-10px) translateX(-50%);
    transform: translateY(-10px) translateX(-50%);
    width: 216px;
    min-width: 100%;
    height: 0;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    opacity: 0;
    background: #f5f5f5;
    -webkit-box-shadow: 0 5px 10px -2px rgb(0 0 0 / 25%);
    box-shadow: 0 5px 10px -2px rgb(0 0 0 / 25%);
}
.navBucket .navBucketItems a {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    padding: 12px 18px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    color: #212833;
    text-transform: uppercase;
    background: #f5f5f5;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
}
.navBucket .navBucketItems .secondaryLabel {
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: bold;
    opacity: 0.65;
}
.materialIcons {
    display: inline-block;
    white-space: nowrap;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;
    font-family: 'Material Icons';
    font-style: normal;
    line-height: 1;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}
/* Top Navigation */
.navTop {
    position: relative;
    min-width: 960px;
    height: 78px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
}
.navTop>div.left {
    display: block;
    float: left;
}
.navTop>div {
    height: 100%;
}