@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root {
    --themeColor: hsl(0, 100%, 45%);
    --textColor: hsl(0, 0%, 100%);
    --backgroundColor1: hsl(0, 0%, 3%);
    --backgroundColor2: hsl(0, 0%, 8%);
    --backgroundColor3: hsl(0, 0%, 13%);
}
:focus {
    outline: 3px solid red;
}

html {
    background-color: var(--backgroundColor2);
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: var(--textColor);
    margin: 0;
    padding: 0;
}
*{
    transition: all 100ms;
}

::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-thumb {
    border: 3px solid var(--backgroundColor3);
    background: var(--backgroundColor2);
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--themeColor);
}
::-webkit-scrollbar-track {
    background: var(--backgroundColor3);
}

a {
    color: var(--textColor);
    text-decoration: none;
}
a:hover {
    cursor: pointer !important;
}
.clickable:hover {
    cursor: pointer !important;
    -webkit-box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 30%);
    box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 30%);
    transform: translate(-2px, -2px);
}
.clickable:focus {
    -webkit-box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 30%);
    box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 30%);
    transform: translate(-2px, -2px);
}

#SNButton {
    transform: translateX(-400%);
    font-size: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: red;
    margin: 0;
}
#SNButton:focus {
    transform: translateX(0%);
    font-size: unset;
    padding: 6px 14px;
    border: 2px solid var(--themeColor);
    border-radius: 18px;
    width: auto;
}

nav {
    width: 100%;
    background-color: var(--backgroundColor3);
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: 2px 2px 1px 0px hsla(0, 0%, 3%, 0.3);
    box-shadow: 2px 2px 1px 0px hsla(0, 0%, 3%, 0.3);
    text-transform: uppercase;
}
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul li {
    display: inline-block;
    height: 100%;
    padding: 12px 10px;
}
nav>ul li>a {
    box-sizing: border-box;
    display: block;
    padding: 6px 14px;
    border: 2px solid var(--themeColor);
    border-radius: 18px;
    font-weight: bold;
}
nav>ul li>a:active .active, nav>ul li>a.active {
    background-color: var(--themeColor);
    -webkit-box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 30%);
    box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 30%);
    transform: translate(-2px, -2px);
}
nav>ul li>a:hover {
    background-color: var(--themeColor);
    -webkit-box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 30%);
    box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 30%);
    transform: translate(-2px, -2px);
}
nav>ul li>a:focus {
    background-color: var(--themeColor);
    -webkit-box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 30%);
    box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 30%);
    transform: translate(-2px, -2px);
}

.mainSection {
    padding: 74px 10px 0;
}
.flexBlock {
    display: block;
    width: 100%;
    height: 25rem;
}
.flexItem {
    box-sizing: border-box; 
    position: relative;
    display: flex;
    float: left;
    height: 100%;
    border-radius: 14px;
    background-color: var(--backgroundColor1);
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}
.flexItem img {
    height: 100%;
    object-fit: contain;
}
.flexItemText{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 2rem;
}
.flexItemText h1, .flexItemText span {
    display: inline;
    margin: 0;
}
.bigBlock_left {
    width: 50%;
    margin: 0 0 0 1rem;
}
.bigBlock_middle {
    width: 50%;
    margin: 0 1rem 0 1rem;
}
.mediumBlock_left {
    width: -webkit-calc(25% - 2rem);
    width: calc(25% - 2rem);
    margin: 0 1rem 0 0;
}
.smallBlock_left {
    width: -webkit-calc(25% - 2rem);
    width: calc(25% - 2rem);
    height: -webkit-calc(50% - 1rem);
    height: calc(50% - 1rem);
    margin: 0 1rem 2rem 0;
}
.bigBlock_right{
    width: 50%;
    margin: 0 1rem 0 0;
}
.mediumBlock_right {
    width: -webkit-calc(25% - 2rem);
    width: calc(25% - 2rem);
    margin: 0 1rem;
}
.smallBlock_right {
    width: -webkit-calc(25% - 2rem);
    width: calc(25% - 2rem);
    height: -webkit-calc(50% - 1rem);
    height: calc(50% - 1rem);
    margin: 0 0 2rem 1rem;
}

/*Medias*/
@media all and (min-width:1025px){
    
}
@media all and (max-width: 1024px) {
    .mainSection {
        padding: 74px 10px 0;
    }
    .flexItem {
        width: calc(50% - 10px) !important;
        margin: 5px 5px !important;
    }
}

@media all and (max-width: 959px) {

}

@media all and (max-width: 800px) {

}

@media all and (max-width: 768px) {
    .flexItem {
        width: 100% !important;
        margin: 5px 0 !important;
    }
}

@media all and (max-width: 568px) {

}

@media all and (max-width: 480px) {

}

@media all and (max-width: 320px) {

}