code[class*="language-"],
pre[class*="language-"] {
	color: #2aba94;
	font-family: Consolas, "courier new";
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	background-color: #007bff80;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	background-color: #007bff80;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
	background-color: var(--quaternaryBG);
}

/* Inline code */
:not(pre)>code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6A9955;
}

.token.punctuation {
	color: var(--primaryText);
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: rgb(134, 196, 110);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #da8766;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: var(--primaryText);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #5678d6;
}

.token.function {
	color: #e9cc6d;
}

.token.class-name {
	color: #58b4df;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}