/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import './variables.scss';

body {
    @extend .color-1;
    @extend .background-3;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

ol[role=list], ul[role=list] {
    list-style: none;
}

.primary-nav {
    // position: fixed;
    // left: 0;
    // right: 0;
    font-weight: 600;
    @extend .background-1;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
    padding: 2rem 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        justify-content: center;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        > * {
            margin: 0 0.5em;
            padding: 0.5em;
        }
        li.active {
            a {
                text-decoration-thickness: 0.25em;
                color: $brand-1;
            }
        }
    }
    a {
        text-underline-offset: 0.25em;
        color: $brand-2;
        &:hover {
            @extend .color-3;
            text-decoration: none;
        }
    }
}

main {
    @extend .color-1;
    @extend .background-3;
}

/*Medias*/
@media all and (min-width:1025px) {
    
}

@media all and (max-width: 1024px) {

}

@media all and (max-width: 959px) {

}

@media all and (max-width: 800px) {

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 668px) {

}

@media all and (max-width: 568px) {

}

@media all and (max-width: 480px) {

}

@media all and (max-width: 320px) {

}
