/* Variables and mixins declared here will be available in all other SCSS files */
$color-1: hsl(0, 0%, 100%);
$color-2: hsl(0, 0%, 95%);
$color-2: hsl(0, 0%, 90%);
$color-4: hsl(0, 0%, 85%);
$color-5: hsl(0, 0%, 80%);
$color-6: hsl(0, 0%, 75%);
/* BACKGROUND COLOURS */
$background-1: hsl(240, 1%, 2.5%);
$background-2: hsl(240, 2%, 5%);
$background-3: hsl(240, 3%, 7.5%);
$background-4: hsl(240, 4%, 10%);
$background-5: hsl(240, 5%, 12.5%);
/* BRAND COLOURS */
$brand-1: hsl(214, 100%, 60%);
$brand-2: hsl(214, 80%, 50%);     
$brand-3: hsl(214, 60%, 40%);

$link-visited: hsl(246, 100%, 60%);