:root {
    --theme-color: #303030;
    --theme-color-secondary:#303030;
    --theme-active: #242424;
    --theme-hover: #161616;
}

#pgnfa{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#pgnfb{
    position: relative;
    font-size: 128px;
    margin: 0 0 48px 0;
}
#pgnfc{
    position: relative;
    font-size: 28px;
    margin-bottom: 0;
}