:root {
  --theme-color:#ff0070;
  --theme-color-secondary:#ff0070;
  --theme-active: #c7004c;
  --theme-hover: #800031;
  --primary-text: #ffffff;
  --secondary-text: #858585;
  --primary-btn: #e1e1e1;
  --primary-background: hsl(240, 4%, 10%);
  --primary-background-l15: hsl(240, 4%, 15%);
  --primary-background-l20: hsl(240, 4%, 20%);
  --secondary-background: hsl(240, 4%, 5%);
  --transition-speed: 0.1s;
}
*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  outline: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--primary-background);
}
::-webkit-scrollbar-thumb {
  background: var(--theme-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-active);
}

footer{
  padding: 4px 12px;
  position: fixed;
  background: var(--theme-color);
  border-radius: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 0px;
  box-sizing: border-box;
  transition: ease-in-out 0.1s;
  z-index: 20;
  display: none;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
  margin: 0;
  line-height: 1.5em;
  color: var(--primary-text);
  background-color: var(--primary-background);
}
button {
  font-size: 16px;
  border: none;
  background: none;
  font-weight: 700;
  color: var(--primary-btn);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: ease-in-out 0.1s;
}
button:hover{
  cursor: pointer !important;
  color: var(--primary-text) !important;
  background-color: var(--theme-hover) !important;
}
button:disabled{
  cursor: unset !important;
  color: var(--primary-text) !important;
  background-color: var(--theme-hover) !important;
}
a {
  color:var(--theme-active);
  text-decoration: underline;
  transition: ease-in-out 0.1s;
}
a:hover {
  color:var(--theme-color);
}

nav{
  padding: 4px 12px;
  position: fixed;
  background: var(--theme-color);
  border-radius: 0px;
  left: 0px;
  top:0px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  transition: ease-in-out 0.1s;
  z-index: 20;
}
icon{
  position: relative;
  top: 3px;
}
icon img{
  width: 22.5px !important;
  height: 22.5px !important;
}
#title{
  font-size: 36px;
  display: inline;
  position: relative;
  top: 4px;
  margin-right: 14px;
}
nav a {
  font-size: 20px;
  padding: 6px 12px;
  text-align: center;
  color: var(--primary-text);
  background-color: var(--theme-color);
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid var(--theme-color);
  border-radius: 6px;
  overflow: hidden;
}
nav a i{
  margin-bottom: 100px;
}
nav a:hover {
  color: var(--primary-text);
  cursor: pointer !important;
}
nav a:hover:not(.active) {
  background-color: var(--theme-hover);
}
nav button:hover {
  cursor: pointer !important;
}
nav button:hover:not(.active) {
  background-color: var(--theme-hover);
}
.active {
  background-color: var(--theme-active);
}
.dropdown {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: -25%;
  width: 150%;
}
.dropdown-content::before{
  content: '';
  position: absolute;
  background: var(--theme-color);
  bottom:0;
  top: -3px;
  left: -3px;
  right: -3px;
  z-index: -1;
  border: 2px solid var(--theme-color);
  border-radius: 6px;
}
.dropdown-content a {
  padding: 3px 16px;
  text-decoration: none;
  width: 100%;
  display: block;
  margin-bottom: 3px;
  border: 2px solid var(--theme-color);
  border-radius: 6px;
}
.dropdown-content a:hover:not(.active) {
  background-color: var(--theme-hover);
}
.showdropdown {
  display: inline-block !important;
}
.droprotate {
  transform: rotate(180deg);
}

.tooltip {
  position: relative;
}
.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 0.1s;
  width: 120px;
  background-color: #00000080;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #00000080 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
}

main{
  width: 100%;
  padding: 66px;
  box-sizing: border-box;
}

.extend{
  height: 100%;
}
.extend a{
  height: 40px;
  width: 100%;
  display: block;
  padding: 7px;
  font-size: 18px;
  font-weight: 700;
  text-align: left !important;
  border-top: 2px solid var(--theme-color);
  border-right: 7px solid var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
  border-left: 7px solid var(--theme-color);
  border-radius: 11px/7px;
}
#navtrigger{
  display: none;
  position: relative;
  text-align: center !important;
  top: 0;
  width: 44px;
  height: 44px;
  padding: 3px !important;
  font-size: 20px !important;
  border: 7px solid var(--theme-color);
  border-radius: 6px;
}

#bot-invite{
  display: grid;
  grid-template-columns: [first] 160px [line2] auto [end];
  grid-template-rows: [row1-start] auto [row1-end] 50px [last-line];

  background-color: var(--secondary-background);
  -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #fff;
}
#bot-invite .bot-avatar{
  position: relative;
  contain: content;
  border-radius: 50%;
  height: 128px;
  width: 128px;
  border: 2px solid var(--theme-color);
  background-color: var(--theme-color);
}
#bot-invite .bot-details .bot-about::before{
  content: 'About: ';
  color:var(--secondary-text);
}
#bot-invite .bot-details .bot-id::before{
  content: 'ID: ';
  color:var(--secondary-text);
}
#bot-invite .bot-details .bot-prefix::before{
  content: 'Prefix: ';
  color:var(--secondary-text);
}
#bot-invite .bot-details .bot-server-count::before{
  content: 'Server Count: ';
  color:var(--secondary-text);
}
#bot-invite .bot-invite{
  grid-column-start: 1;
  grid-column-end: last-line;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: var(--theme-color);
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
}
#bot-invite .bot-discords{
  grid-column-start: 1;
  grid-column-end: last-line;
  background-color: var(--primary-background);
  -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  border-radius: 6px;
  overflow: hidden;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
#bot-invite .bot-discords .discord-widget{
  margin: 20px auto;
}

.discord-widget{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #fff;
}
.discord-widget ::-webkit-scrollbar {
  width: 20px;
}
.discord-widget ::-webkit-scrollbar-track {
  background: var(--secondary-background);
}
.discord-widget ::-webkit-scrollbar-thumb {
  background: var(--primary-background);
  border: 8px solid var(--secondary-background);
  border-radius: 10px;
  transition: ease-in-out 0.5s;
}
.discord-widget ::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color);
  transition: ease-in-out 0.5s;
}
.discord-widget .widget-header{
  background-color: var(--theme-color);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.discord-widget .widget-header .widget-logo{
  background: url(https://discord.com/assets/35d75407bd75d70e84e945c9f879bab8.svg) 50% no-repeat;
  width: 124px;
  height: 34px;
  background-size: 124px 34px;
  display: inline-block;
  -webkit-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
}
.discord-widget .widget-header .widget-header-count{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}
.discord-widget .widget-body{
  background-color: var(--secondary-background);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  padding: 20px;
  overflow-y: scroll;
}
.discord-widget .widget-body .widget-member{
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  flex: 0;
  margin: 6px 0;
}
.discord-widget .widget-body .widget-member .widget-member-avatar{
  margin-right: 4px;
  position: relative;
  contain: content;
}
.discord-widget .widget-body .widget-member .widget-member-avatar img{
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 2px solid var(--theme-color);
  background-color: var(--theme-color);
}
.discord-widget .widget-body .widget-member .widget-member-status {
  border-radius: 50%;
  bottom: 5px;
  height: 10px;
  position: absolute;
  right: 0px;
  width: 10px;
  border: 2px solid var(--theme-color);
}
.discord-widget .widget-body .widget-member .widget-member-status-online {
  background-color: #43b581;
}
.discord-widget .widget-body .widget-member .widget-member-status-idle {
  background-color: #d5b225;
}
.discord-widget .widget-body .widget-member .widget-member-status-dnd {
  background-color: #b54343;
}
.discord-widget .widget-body .widget-member .widget-member-status-text {
  height: 32px;
  max-width: 80px;
  overflow: hidden;
  line-height: 32px;
  padding: 0 8px 0 37px;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  left: 172px;
  user-select: none;
  white-space: nowrap;
  color:var(--secondary-text);
}
.discord-widget .widget-body .widget-member .widget-member-name {
  font-weight: bold;
  height: 32px;
  max-width: 160px;
  overflow: hidden;
  line-height: 32px;
  padding: 0 8px 0 37px;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  left: 12px;
  user-select: none;
  white-space: nowrap;
}

.discord-widget .widget-footer{
  background-color: var(--secondary-background);
  -webkit-box-shadow: 0 -1px 18px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 -1px 18px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 20%);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 6px 6px 6px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
  min-height: 30px;
}
.discord-widget .widget-footer .widget-footer-info{
  display: inline-block;
  font-weight: 500;
  opacity: .1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.discord-widget .widget-footer .widget-btn-join{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  height: 30px;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: var(--theme-color);
  color:var(--primary-text);
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
}

@media screen and (max-width: 1056px){
  nav{
    overflow: hidden;
  }
  main{
    padding: 50px 5px;
  }
  #navtrigger{
    display: block;
  }
  .dropdown {
    width: 100%;
  }
  .dropdown-content {
    position: unset;
    width: 100%;
  }
}