:root {
  --theme-color:#ff0070;
  --theme-color-secondary:#ff0070;
  --theme-active: #c7004c;
  --theme-hover: #800031;
  --primary-text: #ffffff;
  --secondary-text: #858585;
  --primary-btn: #e1e1e1;
  --primary-background: hsl(240, 4%, 10%);
  --primary-background-l15: hsl(240, 4%, 15%);
  --primary-background-l20: hsl(240, 4%, 20%);
  --secondary-background: hsl(240, 4%, 5%);
  --transition-speed: 0.1s;
}
*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  outline: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--primary-background);
  border: 0.5px solid rgba(0,0,0,0.3);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background: var(--theme-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-active);
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
footer{
  padding: 4px 12px;
  position: fixed;
  background: var(--theme-color);
  border-radius: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 0px;
  box-sizing: border-box;
  transition: ease-in-out 0.1s;
  z-index: 20;
  display: none;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
  margin: 0;
  line-height: 1.5em;
  color: var(--primary-text);
  background-color: var(--primary-background);
  overflow: hidden;
}
button {
  font-size: 16px;
  border: none;
  background: none;
  font-weight: 700;
  color: var(--primary-btn);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: ease-in-out 0.1s;
}
button:hover{
  cursor: pointer !important;
  color: var(--primary-text) !important;
  background-color: var(--theme-hover) !important;
}
button:disabled{
  cursor: unset !important;
  color: var(--primary-text) !important;
  background-color: var(--theme-hover) !important;
}
a {
  color:var(--theme-active);
  text-decoration: underline;
  transition: ease-in-out 0.1s;
}
a:hover {
  color:var(--theme-color);
}

nav{
  padding: 4px 12px;
  position: fixed;
  background: var(--theme-color);
  border-radius: 0px;
  left: 0px;
  top:0px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  transition: ease-in-out 0.1s;
  z-index: 20;
}
icon{
  position: relative;
  top: 3px;
}
icon img{
  width: 22.5px !important;
  height: 22.5px !important;
}
#title{
  font-size: 36px;
  display: inline;
  position: relative;
  top: 4px;
  margin-right: 14px;
}
nav a {
  font-size: 20px;
  padding: 6px 12px;
  text-align: center;
  color: var(--primary-text);
  background-color: var(--theme-color);
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid var(--theme-color);
  border-radius: 6px;
  overflow: hidden;
}
nav a i{
  margin-bottom: 100px;
}
nav a:hover {
  color: var(--primary-text);
  cursor: pointer !important;
}
nav a:hover:not(.active) {
  background-color: var(--theme-hover);
}
nav button:hover {
  cursor: pointer !important;
}
nav button:hover:not(.active) {
  background-color: var(--theme-hover);
}
.active {
  background-color: var(--theme-active);
}
.dropdown {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: -25%;
  width: 150%;
}
.dropdown-content::before{
  content: '';
  position: absolute;
  background: var(--theme-color);
  bottom:0;
  top: -3px;
  left: -3px;
  right: -3px;
  z-index: -1;
  border: 2px solid var(--theme-color);
  border-radius: 6px;
}
.dropdown-content a {
  padding: 3px 16px;
  text-decoration: none;
  width: 100%;
  display: block;
  margin-bottom: 3px;
  border: 2px solid var(--theme-color);
  border-radius: 6px;
}
.dropdown-content a:hover:not(.active) {
  background-color: var(--theme-hover);
}
.showdropdown {
  display: inline-block !important;
}
.droprotate {
  transform: rotate(180deg);
}

.tooltip {
  position: relative;
}
.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 0.1s;
  width: 120px;
  background-color: #00000080;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #00000080 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
}

main{
  padding: 66px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 45px;
  bottom: 0;
  overflow: auto;
}
main section{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 16.66667% 16.66667% 16.66667% 16.66667% 16.66667% 16.66667%;
  background-color: var(--secondary-background);
  border-radius: 9px;
}
.sectionHead{
  font-size: 28px;
  margin: 24px 0;
  grid-column-start: 1;
  grid-column-end: 7;
  text-align: center;
  color: var(--primary-text);
}
.card {
  margin: 12px;
  border-radius: 6px;
  border: 0.5px solid rgba(0,0,0,0.3);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.1s;
  text-decoration: none !important;
  color: var(--primary-btn);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  color: var(--primary-text);
}
.card img{
  border-radius: 6px 6px 0 0;
}
.card h4 {
  text-align: center;
  margin: 4px 16px 10px;
}

.extend{
  height: 100%;
}
.extend a{
  height: 40px;
  width: 100%;
  display: block;
  padding: 7px;
  font-size: 18px;
  font-weight: 700;
  text-align: left !important;
  border-top: 2px solid var(--theme-color);
  border-right: 7px solid var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
  border-left: 7px solid var(--theme-color);
  border-radius: 11px/7px;
}
#navtrigger{
  display: none;
  position: relative;
  text-align: center !important;
  top: 0;
  width: 44px;
  height: 44px;
  padding: 3px !important;
  font-size: 20px !important;
  border: 7px solid var(--theme-color);
  border-radius: 6px;
}

#bot-invite{
  display: grid;
  grid-template-columns: [first] 160px [line2] auto [end];
  grid-template-rows: [row1-start] auto [row1-end] 50px [last-line];

  background-color: var(--secondary-background);
  -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #fff;
}
#bot-invite .bot-avatar{
  position: relative;
  contain: content;
  border-radius: 50%;
  height: 128px;
  width: 128px;
  border: 2px solid var(--theme-color);
  background-color: var(--theme-color);
}
#bot-invite .bot-details .bot-about::before{
  content: 'About: ';
  color:var(--secondary-text);
}
#bot-invite .bot-details .bot-id::before{
  content: 'ID: ';
  color:var(--secondary-text);
}
#bot-invite .bot-details .bot-prefix::before{
  content: 'Prefix: ';
  color:var(--secondary-text);
}
#bot-invite .bot-details .bot-server-count::before{
  content: 'Server Count: ';
  color:var(--secondary-text);
}
#bot-invite .bot-invite{
  grid-column-start: 1;
  grid-column-end: last-line;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: var(--theme-color);
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
}
#bot-invite .bot-discords{
  grid-column-start: 1;
  grid-column-end: last-line;
  background-color: var(--primary-background);
  -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  border-radius: 6px;
  overflow: hidden;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
#bot-invite .bot-discords .discord-widget{
  margin: 20px auto;
  display: inline-block;
}

@media screen and (max-width: 1056px){
  nav{
    overflow: hidden;
  }
  #navtrigger{
    display: block;
  }
  .dropdown {
    width: 100%;
  }
  .dropdown-content {
    position: unset;
    width: 100%;
  }
  main{
    padding: 50px 5px;
  }
  main section{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .sectionHead{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}