main {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
center a:hover {
    box-shadow: none !important;
}
.sidebar {
    z-index: 12;
    position: fixed;
    top: 126px;
    bottom: 66px;
    background-color: var(--tertiaryBG);
    border-radius: 3px;
    padding: 7px;
    display: grid;
    grid-template-columns: auto auto;
    width: 400px;
}
.sidebar>button {
    border: none;
    height: 100%;
    padding: 3px;
}
.sidebar>button:hover {
    background: none !important;
}
.sidebar ul{
    width: auto;
}
.sidebar>ul>li>ul{
    display: block !important;
    height: 100% !important;
    max-height: none;
    position: unset !important;
}
.sidebar>ul>li>ul li{
    display: block !important;
    width: 100% !important;
}
.sidebar>ul>li>ul li a{
    display: block !important;
    width: 100% !important;
}
@media screen and (min-width: 1366px){
    main {
        width: 1346px;
        max-width: 1346px;
    }
}
@media screen and (max-width: 1056px){
    aside {
        width: 0;
    }
    main {
        left: 0 !important;
    }
    .extend ~ aside {
        display: block;
        top: 160px;
        width: 100%;
    }
}